# Ignore node_modules
node_modules/

# Ignore build folder
build/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore coverage directory
coverage/

# Ignore IDE specific files
.idea/
.vscode/
